{"openapi": "3.0.0", "info": {"version": "0.0.1", "title": "Users Service", "description": "Swagger spec for documenting the users service"}, "servers": [{"url": "http://testdriven-production-alb-692597783.ap-southeast-1.elb.amazonaws.com/"}], "paths": {"/users/ping": {"get": {"summary": "Just a sanity check", "responses": {"200": {"description": "Will return 'pong!'"}}}}, "/users": {"get": {"summary": "Returns all users", "responses": {"200": {"description": "user object"}}}, "post": {"summary": "Adds a new user", "requestBody": {"description": "User to add", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/user-full"}}}}, "security": [{"bearerAuth": []}], "responses": {"201": {"description": "User added"}, "400": {"description": "fail object"}}}}, "/users/{id}": {"get": {"summary": "Returns a user based on a single user ID", "parameters": [{"name": "id", "in": "path", "description": "ID of user to fetch", "required": true, "schema": {"type": "integer", "format": "int64"}}], "responses": {"200": {"description": "user object"}, "404": {"description": "fail object"}}}}, "/auth/register": {"post": {"summary": "Create a new user", "requestBody": {"description": "User to add", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/user-full"}}}}, "responses": {"201": {"description": "user object"}, "400": {"description": "fail object"}}}}, "/auth/login": {"post": {"summary": "Logs a user in", "requestBody": {"description": "User to log in", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/user"}}}}, "responses": {"200": {"description": "Successfully logged in"}, "400": {"description": "fail object"}}}}, "/auth/status": {"get": {"summary": "Returns the logged in user's status", "security": [{"bearerAuth": []}], "responses": {"200": {"description": "user object"}}}}, "/auth/logout": {"get": {"summary": "Logs a user out", "security": [{"bearerAuth": []}], "responses": {"200": {"description": "Successfully logged out"}}}}}, "components": {"securitySchemes": {"bearerAuth": {"type": "http", "scheme": "bearer"}}, "schemas": {"user": {"properties": {"email": {"type": "string"}, "password": {"type": "string"}}}, "user-full": {"properties": {"username": {"type": "string"}, "email": {"type": "string"}, "password": {"type": "string"}}}}}}